@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');


:root{

    --primary: #00b4d8;
    --secondary: #82c0cc;
    --otra: #9AD7E0;

    --black: #121212;
    --light-black: #222222;
    --bg-cyan: #dcf0f4;
    --light-gray: #5f5f5f;
    --bg-gray: rgb(238, 238, 238);
    --white: #ffffff;

    --bg-gradient: linear-gradient(121deg, rgba(154,215,224,1) 0%, rgba(130,192,204,1) 100%);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    background-color: var(--white);
    transition:  all .3s;
    
}



.container-title,
.container-cards{
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container{
    background-color: var(--black);
    position: relative;
    width: 50px;
    height: 30px;
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 30px;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 80px;
}

.container span{
    font-size: 14px;
    color: var(--light-gray);
}

.light{
    font-weight: 600;
}


#toggle{
   position: absolute;
   top: 0;
   left: 0;
   width: 30px;
   height: 30px;
   transform: scale(.7);
   background-color: var(--white);
   border-radius: 25px;
   transition: .4s linear;  
}



.container-cards{
    gap: 25px;
}

.container-title{
    flex-direction: column;
    color: var(--black);
}

.card{
    background-color: var(--bg-gray);

    width: 300px;
    height: 400px;
    padding: 40px;
    margin-top: 40px;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    transition: transform .5s;
}


.card h2{
    color: var(--black);
    font-size: 50px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card h2 span{
    font-size: 30px;
    text-align: center;
    padding-right: 5px;
}

.card h3{
    color: var(--black);
}

.card p{
    font-size: 14px;
    font-weight: 500;
    color: var(--black);
}

.btn-card{
    font-weight: 600;
    padding: 10px 60px;
    background: linear-gradient(90deg, hsla(188, 53%, 74%, 1) 0%, hsla(201, 100%, 72%, 1) 100%);
    border: 0;
    border-radius: 15px;
}




.profesional{
    color: var(--black);
    background: linear-gradient(90deg, hsla(188, 53%, 74%, 1) 0%, hsla(201, 100%, 72%, 1) 100%);
}


.profesional .btn-card{
    border: 2px solid #00b4d8;
    background: var(--white);
    color: #00b4d8;
    
}


.btn-card:hover{
    cursor: pointer;
}


.card:hover{
    transform: scale(1.1);
}


/* =====================DARKMODE========================== */


.darkmode{
    background-color: #121212;

}

.darkmode #toggle{
    left: 20px;
    background-color: var(--black);
    transition: .4s linear;
}


.darkmode .container{
    background-color: var(--white);
}


.darkmode .container-title{
    color: var(--white);
}


.darkmode .container span{
    color: var(--white);
}


.darkmode .light{
    font-weight: 400;
}


.darkmode .dark {
    font-weight: 600;
}


.darkmode .card{
    background-color: var(--light-black);
}

.darkmode  .profesional .p{
    color: var(--black);
}


.darkmode .card h2{
    color: var(--white);
}

.darkmode .card h3{
    color: var(--white);
}

.darkmode .card p{
    color: var(--white);
}

